.add-ticket-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9fafb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
}

.add-ticket-form .form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 8px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px 15px; /* Dodano padding także z prawej strony */
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Upewnia się, że padding nie rozszerza rozmiaru pola */
}

.form-input:focus,
.form-textarea:focus {
    border-color: #3498db;
    outline: none;
}

.form-textarea {
    resize: none;
    height: 100px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}
